@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

/* layout global */

.header,
.footer,
main {
    border: 1px solid rgb(176, 176, 180);
    padding: 1rem;
}

body {
    height: 100vh;
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

main {
    /* Definimos el display para tener gap */
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu {
    color: var(--color-primary);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    a {
        text-decoration: none;
        color: inherit;
        border: 1px solid ghostwhite;
        display: block;
        padding: 0.5rem 1rem;
    }
    a:hover {
        border: 1px solid rgb(144, 144, 152);
    }
}

.footer {
    text-align: center;
}

.personal-info {

    .mas-info {
        display: none;
    }

    footer {
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
        }
        svg {
            width: 3rem;
            fill: var(--color-primary);
        }
    }
}

.projects {
    header,
    article {
        margin-block: 1rem;
    }
}

@media (width > 430px) {
    menu {
        flex-direction: row;
    }
}

@media (width > 500px) {
    .personal-info {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>p {
         padding-inline-end: 1rem;   
        }
        hgroup {
            grid-column: span 2;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        .mas-info {
            display: initial;
        }
    }
}

@media (width > 550px) {
    .articles-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width > 700px) {
     .articles-wrapper {
         grid-template-columns: 1fr 1fr 1fr;
     }
}
